.main {
    color: black;
    display: flex;
    text-align: left;
}

.temp {
    background-color: grey;
    color: white;
    text-align: center;
    height: 40px;

}
.temp2
{
    background-color: rgb(121, 124, 124);
    color: blue;
    width: 400px;
    text-align: left;
}